{% extends "base.html" %}
<link rel="stylesheet" href="bboards.css">
{% block content %}
{% if user.is_authenticated %}
<header class="top">
  <nav class="breadcrumbs"><a href="..">Back to board list</a></nav>
  <h1>{{ board.name }}</h1>
  <br/>
  {% if can_post %}
  <aside class="new-thread">
    <a href="post/">Post New Thread</a>
  </aside>
  {% endif %}
</header>
<div class="listing">
{% for thread in threads %}
<section class="entry">
  <article class="thread-name">
    <h2 style="{% if thread.is_unread %}font-weight: bolder;{% endif %}">
      <a href="/boards/{{ board.id }}/{{ thread.id }}/">{{ thread.subject }}</a>
    </h2>
    Originally posted by <strong>{{ thread.posted_by }}</strong> on <time>{{ thread.db_date_created }}</time>
  </article>
  <aside class="thread-last-post">
    Last post by <strong>{{ thread.last_poster }}</strong>
    <br/>
    on <time>{{ thread.last_post_on }}</time>
  </aside>
</section>
{% endfor %}
<div>
{% else %}
<article class="error">Please <a href="{% url 'login'%}">log in</a>first.</article>
{% endif %}
{% endblock %}
