{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <h1>BBoards</h1>
    {% if boards %}
        <br/>
        <table width="70%">
            <tr>
                <th align="left" style="border-bottom: 1px solid black">Board</th>
                <th align="left" style="border-bottom: 1px solid black">Unread Posts</th>
            </tr>
            {% for board in boards %}
            <tr>
                <td><a href="/boards/{{ board.id }}/">{{ board.name }}</a></td>
                <td>{{ board.db_unread_count }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no available bboards.</p>
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'login'%}">login</a>first.<a/></p>
{% endif %}
{% endblock %}