{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <p><a href="..">Back to board list</a></p>
    <h1>{{ board.name }}</h1>
    <br/>
    <table width="90%">
        {% for thread in threads %}
            <tr>
                <td style="border-top: 1px solid black; border-bottom: 1px solid black">
                    <span style="font-size: larger">{% if thread.unread %}<b>{% endif %}
                        <a href="/boards/{{ board.id }}/{{ thread.id }}/">{{ thread.subject }}</a>
                        {% if thread.unread %}</b>{% endif %}</span>
                    <br/>
                    Originally posted by <b>{{ thread.posted_by }}</b> on {{ thread.db_date_created }}
                </td>
                <td align="right" valign="bottom" style="border-top: 1px solid black; border-bottom: 1px solid black">
                    Last post by <b>{{ thread.last_poster }}</b>
                    <br/>
                    on {{ thread.last_post_on }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Please <a href="{% url 'login'%}">login</a>first.<a/></p>
{% endif %}
{% endblock %}
