{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
    <p><a href="..">Back to {{ board.name }}</a></p>
    <table width="100%">
        <tr>
            <td width="30%">{{ post.db_poster_name }}</td>
            <td align="right" width="100%"> {{ post.db_date_created }}</td>
        </tr>
        <tr>
            <td><b>{{ post.db_subject }}</b></td>
        </tr>
    </table>
    <hr/>
    <div style="white-space: pre-wrap; font-family: monospace;;">{{ text }}</div>
    <hr/>
{% else %}
    <p>Please <a href="{% url 'login'%}">login</a>first.<a/></p>
{% endif %}
{% endblock %}
