{% extends "base.html" %}
{% block header_ext %}
    <link rel="stylesheet" type="text/css" href="/static/website/css/paxboards.css">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="paxboards-breadcrumbs"><a href="../.." class="paxboards-link">Forums</a> &gt; <a href=".." class="paxboards-link">{{ board.name }}</a> &gt; {{ post.db_subject }}</div>
    <div class="paxboards-pagetitle">{{ post.db_subject }}</div>

    <div class="paxboards-content">
        <div class="paxboards-row">
            <div class="paxboards-row-internal">
                <div class="paxboards-row-postinfo-container">
                    <span class="paxboards-postinfo">Posted by <span class="paxboards-postinfo-emphasis">{{ post.db_poster_name }}</span>
                        &middot; {{ post.db_date_created|timesince }} ago</span>
                </div>
                <div class="paxboards-row-post paxboards-row-divider">{{  post.plaintext|urlize }}</div>
            </div>
        </div>
        {% for reply in replies %}
        <div class="paxboards-row">
            <div class="paxboards-row-internal">
                <div class="paxboards-row-postinfo-container">
                    <span class="paxboards-postinfo">Posted by <span class="paxboards-postinfo-emphasis">{{ reply.db_poster_name }}</span>
                        &middot; {{ reply.db_date_created|timesince }} ago</span>
                </div>
                <div class="paxboards-row-post paxboards-row-divider">{{  reply.plaintext|urlize }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if can_post %}
        <form action="reply/" method="post" class="paxboards-replyform">
            {% csrf_token %}
            <table width="100%">
                {{ form.as_table }}
                <tr><td></td><td><input type="submit" value="Reply"/></td></tr>
            </table>
        </form>
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'login'%}">login</a>first.<a/></p>
{% endif %}
{% endblock %}
